<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>DILUONDI</title>
  <link rel="stylesheet" href="/static/text/primary.css">
  <link rel="stylesheet" href="/static/text/stack.css">
  <link rel="stylesheet" href="/static/text/default.css">
  <link rel="stylesheet" href="/static/text/default+en.css">
  <link rel="stylesheet" href="/static/text/style-min-v1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  z-index:1000;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.bg-img {
  width: 100%;
  padding: 10% 0;
  background: rgba(255,255,255,0.2);
  background-size: cover;
  opacity:0.5;
  background-position: center;
  border: 1px solid;
}

.enableBlur {
  background: rgba(76, 175, 80, 0.3);
  filter: blur(80px);
  -webkit-filter: blur(80px);
}

.disableBlur {
  filter: blur(0);
  -webkit-filter: blur(0);
}


</style>
</head>

<body>
 <div class="header" id="myHeader">
  <img style = "display:inline-block;" src = "/static/images/logo.png" width=40 height = 40>
  <h2 style = "display:inline-block;font-size:40px;font-family:'Brush Script MT', cursive;">DILUONDI</h2>
  <form name="searchform" id="search-form">
    <div>
      <b>Search</b>
      <input type="text" name="txtInput" title="Enter the terms you wish to search for." />
       <input type="submit" value="GO!" class="submit" style="cursor: pointer;" />
       <!-- <label for="file-upload" class="ws-nowrap s-btn s-btn__primary disableBlur custom-file-upload" style="position:absolute;top:40px;left:1100px;">
        <i class="fa fa-cloud-upload"></i> Custom Upload
       </label>
       <input id="file-upload" type="file" style="position:absolute;top:25px;left:1500px;"/> -->
       
      <script type="text/javascript" language="javascript">
        (function() {
          var id = document.getElementById('search-form');
          if (id && id.txtInput) {
            var name = id.txtInput;
            var unclicked = function() {
              if (name.value == '') {
                name.style.background = 'url(https://www.google.com/cse/static/images/1x/en/branding.png) left center no-repeat rgb(255, 255, 255)';
              }
            };
          var clicked = function() {
            name.style.background = '#ffffff';
          };
          name.onfocus = clicked;
          name.onblur = unclicked;
          unclicked();
          }
        })();
      </script>
    </div>
  </form>
  <form name="uploadForm" method="POST" enctype="multipart/form-data" action = "/">
       <label for="uploadInput" class="ws-nowrap s-btn s-btn__primary disableBlur custom-file-upload" style="position:absolute;top:40px;left:1100px;">
        <i class="fa fa-cloud-upload"></i> Custom Upload
       </label>
    <input id="uploadInput" type="file" name="myFiles" style="position:absolute;top:25px;left:1500px;opacity=1;" accept=".jpg,.png,.PNG,.JPG"/>
  </form>

  <h2 id = "letgo" onload="checkfunc()" style = "position:absolute;top:300px;left:500px;font-size:90px;color:purple;"> LET'S GO </h2>
 </div>

<div class="bg-img">

  <script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  </script>

  <img src="/static/images/0.jpg" style = "opacity:0;"/>
  

</div>
  <img id = "img0" src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:120px;left:515px;display:none"/>
  <img id = "img1" src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:450px;left:20px;display:none"/>
  <img id = "img2" src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:450px;left:350px;display:none"/>
  <img id = "img3" src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:450px;left:680px;display:none"/>
  <img id = "img4" src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:450px;left:1010px;display:none"/>
  <img id = "img5" src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:820px;left:20px;display:none"/>
  <img id = "img6" src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:820px;left:350px;display:none"/>
  <img id = "img7" src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:820px;left:680px;display:none"/>
  <img id = "img8" src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:820px;left:1010px;display:none"/>
  <textarea id="img1info" rows="2" cols="35" style = "position:absolute;top:762px;left:20px;display:none"> </textarea>
  <textarea id="img2info" rows="2" cols="35" style = "position:absolute;top:762px;left:350px;display:none"> </textarea>
  <textarea id="img3info" rows="2" cols="35" style = "position:absolute;top:762px;left:680px;display:none"> </textarea>
  <textarea id="img4info" rows="2" cols="35" style = "position:absolute;top:762px;left:1010px;display:none"> </textarea>
  <textarea id="img5info" rows="2" cols="35" style = "position:absolute;top:1132px;left:20px;display:none"> </textarea>
  <textarea id="img6info" rows="2" cols="35" style = "position:absolute;top:1132px;left:350px;display:none"> </textarea>
  <textarea id="img7info" rows="2" cols="35" style = "position:absolute;top:1132px;left:680px;display:none"> </textarea>
  <textarea id="img8info" rows="2" cols="35" style = "position:absolute;top:1132px;left:1010px;display:none"> </textarea>
  <!-- <label style = "background:white;position:absolute;top:650px;left:1010px;">
    <p>sad</p>
    <p>f</p>
    sddkaj
    ashajdhjla
    ahsjahsa
    sahksja
    askhajsa
  </label> -->
  <!-- <img src="/static/images/0.jpg" width = 300 height = 300 style = "position:absolute;top:;left:"/> -->
  <script type="text/javascript">
    function myFunc(vars) {
      return vars
    }
    
    var started_show = myFunc({{ imgpath.isremove|tojson }});
    const jsArrayOfItems = {{imgpath.data | tojson}};
    const jsArrayOfItems1 = {{imgpath.data1 | tojson}};
    var req = myFunc({{ imgpath.req_path|tojson }});
    console.log(jsArrayOfItems);
    // if (path != ""){document.getElementById("showedimg").src = path;}
    if (started_show != false){
      document.getElementById("letgo").style.visibility = "hidden";
      document.getElementById("img0").style.display = "block";
      document.getElementById("img1").style.display = "block";
      document.getElementById("img2").style.display = "block";
      document.getElementById("img3").style.display = "block";
      document.getElementById("img4").style.display = "block";
      document.getElementById("img5").style.display = "block";
      document.getElementById("img6").style.display = "block";
      document.getElementById("img7").style.display = "block";
      document.getElementById("img8").style.display = "block";
      document.getElementById("img1info").style.display = "block";
      document.getElementById("img2info").style.display = "block";
      document.getElementById("img3info").style.display = "block";
      document.getElementById("img4info").style.display = "block";
      document.getElementById("img5info").style.display = "block";
      document.getElementById("img6info").style.display = "block";
      document.getElementById("img7info").style.display = "block";
      document.getElementById("img8info").style.display = "block";

      if (req!=""){
        document.getElementById("img0").src = req;
        var base_path = "/static/beta_dataset/"
        document.getElementById("img1").src = base_path + jsArrayOfItems[0];
        document.getElementById("img2").src = base_path + jsArrayOfItems[1];
        document.getElementById("img3").src = base_path + jsArrayOfItems[2];
        document.getElementById("img4").src = base_path + jsArrayOfItems[3];
        document.getElementById("img5").src = base_path + jsArrayOfItems[4];
        document.getElementById("img6").src = base_path + jsArrayOfItems[5];
        document.getElementById("img7").src = base_path + jsArrayOfItems[6];
        document.getElementById("img8").src = base_path + jsArrayOfItems[7];


        document.getElementById("img1info").value = "Path: " + jsArrayOfItems[0] + "\nDistance: " + jsArrayOfItems1[0];
        document.getElementById("img2info").value = "Path: " + jsArrayOfItems[1] + "\nDistance: " + jsArrayOfItems1[1];
        document.getElementById("img3info").value = "Path: " + jsArrayOfItems[2] + "\nDistance: " + jsArrayOfItems1[2];
        document.getElementById("img4info").value = "Path: " + jsArrayOfItems[3] + "\nDistance: " + jsArrayOfItems1[3];
        document.getElementById("img5info").value = "Path: " + jsArrayOfItems[4] + "\nDistance: " + jsArrayOfItems1[4];
        document.getElementById("img6info").value = "Path: " + jsArrayOfItems[5] + "\nDistance: " + jsArrayOfItems1[5];
        document.getElementById("img7info").value = "Path: " + jsArrayOfItems[6] + "\nDistance: " + jsArrayOfItems1[6];
        document.getElementById("img8info").value = "Path: " + jsArrayOfItems[7] + "\nDistance: " + jsArrayOfItems1[7];
      } 
    }
  </script>

  <script type="text/javascript" src="/static/js/index.js?47"></script>
</body>
</html>